@tailwind base;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "linux-libertine-regular";
  src: url("/linux-libertine/LinLibertine_R.ttf");
}

@font-face {
  font-family: "linux-libertine-semibold";
  src: url("/linux-libertine/LinLibertine_RB.ttf");
}

@font-face {
  font-family: "scriptina";
  src: url("/scriptina/SCRIPTIN.ttf");
}

@font-face {
  font-family: "Barcelony";
  src: url("/barcelony/Barcelony.ttf");
}

* {
  box-sizing: border-box;
}

body {
  @apply font-body relative;
}

.no_highlights{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
